[submodule "projects/zerog-tools"]
	path = projects/zerog-tools
	url = git@github.com:tianhaoz95/zerog-tools.git
[submodule "projects/meowtrix"]
	path = projects/meowtrix
	url = git@github.com:tianhaoz95/meowtrix.git
[submodule "projects/study"]
	path = projects/study
	url = git@github.com:tianhaoz95/study.git
